* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  max-width: 90vw;
  /*grid-template-columns: repeat(4,1fr);*/
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 50px auto;
  padding: 10px;

  column-gap: 20px;
  row-gap: 15px;
  /*grid-template-rows: 80px 1fr 70px;*/

  height: 100vh;
 
  margin-bottom: 50px;
  
}
.Rectangle {
  
position: relative;
 /* background-color: steelblue;*/
 /* color: #fff;*/
 /* border: skyblue 1px solid;*/

}
 .img{
  width: 250px;
  height: 191px;
  
}
.img:hover{
  transform: scale(1.05); /* Equal to scaleX(0.7) scaleY(0.7) */
  transition: .5s;

}
.time {
  position: absolute;
  top: 5%;
  right: 15%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 2px;
}

.footerVideo {
  position: absolute;
  bottom: 5%;
  width: 87%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 2px;

}