* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: white;
}
/*
.logo {
  margin-right: auto;
  width: 86px;
  height: 16px;
  
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555454;
}
*/


.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  /**margin-right: auto;*/
  transition: all 0.3s ease 0s;
  color: black;
 /* border-left: solid 1px;*/
  /*padding-left: 40px;*/
  margin: 20px 1.5px 69px;
  width: auto;


}

.nav__links li a:hover{
  padding-bottom: 5px;
  /*padding-left: 4px;*/
  border-bottom: solid 3px #989898;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}